{% extends "base.html" %}
{% load static %}

{% block content %}
	<section>
		<div class="block no-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="inner-header">
							<h2>Contáctanos</h2>
							<ul class="breadcrumbs">
								<li><a href="#" title="">Inicio</a></li>
								<li><a href="#" title="">Directorio de negocios</a></li>
								<li>Contáctanos</li>
							</ul>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block gray no-padding">
			<div class="row">
				<div class="col-md-12">
					<div class="contact-map">
						<div id="map-container">
						    <div id="map_div">&nbsp;</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 column">
						<h3 class="mini-title">Enváinos tus dudas y/o comentarios</h3>
						<div class="contactus-form"  id="contact">
							<div id="message"></div>
							<form method="post" action="contact.php" name="contactform" id="contactform">
								<div class="row">
									<div class="col-md-6"><input name="name" type="text" id="name" placeholder="Nombre" /></div>
									<div class="col-md-6"><input  name="email" type="text" id="email" placeholder="Email"  /></div>
									<div class="col-md-12"><input type="text" placeholder="Número de Teléfono" /></div>
									<div class="col-md-12"><textarea name="comments" id="comments" placeholder="Mensaje"></textarea></div>
									<div class="col-md-12"><input type="submit" id="submit" value="Enviar Mensaje" /></div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-4 column">
						<div class="contact-info-box">
							<h3 class="mini-title">Información de Contacto</h3>
							<div class="contact-box">
								<ul>
									<li>
										<i class="la la-map-marker"></i>
										<h4>Dirección</h4>
										<span>69 Halsey St, New York,</span>
										<span>Ny 10002, USA</span>
									</li>
									<li>
										<i class="la la-phone"></i>
										<h4>Número de Telégono</h4>
										<span>(084) 965 4788</span>
									</li>
									
									<li>
										<i class="la la-envelope-o"></i>
										<h4>Correo Electrónico</h4>
										<span>info@domain.com</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}