{% extends "base.html" %}
{% load static %}

{% block content %}


<section>
		<div class="block gray remove-top">
			<div class="row">
				<div class="col-md-12">
					<div class="list-detail-sec">
						<ul class="list-detail-carousel" id="listing-detail-carousel">
							<li>
								<div class="list-detail-box">
									<img src="http://placehold.it/1170x570	" alt="" />
									<div class="list-detail-info">
										<h3>UNIPYMES</h3>
										<span>Instituto Tecnológico de Tuxtla Gutiérrez</span>
										<span>Tuxtla Gutiérrez, Chiapas. México</span>
										<p>(416) 551-0589</p>
										<center>
											<a style="margin-right: 330px;" href="#" title="" class="write-review">30% en MKT</a>
										</center>
										
									</div>
								</div>
							</li>
							<li>
								<div class="list-detail-box">
									<img src="http://placehold.it/1170x570	" alt="" />
									<div class="list-detail-info">
										<h3>UNIPYMES</h3>
										<span>Instituto Tecnológico de Tuxtla Gutiérrez</span>
										<span>Tuxtla Gutiérrez, Chiapas. México</span>
										<p>(416) 551-0589</p>
										<center>
											<a href="#" title="" class="write-review">WrIte a RevIew</a>
										</center>
										
										
									</div>
								</div>
							</li>
							<li>
								<div class="list-detail-box">
									<img src="http://placehold.it/1170x570	" alt="" />
									<div class="list-detail-info">
										<h3>UNIPYMES</h3>
										<span>Instituto Tecnológico de Tuxtla Gutiérrez</span>
										<span>Tuxtla Gutiérrez, Chiapas. México</span>
										<p>(416) 551-0589</p>
										<center>
											<a href="#" title="" class="write-review">WrIte a RevIew</a>
										</center>
										
										
									</div>
								</div>
							</li>
						</ul>
						<!--<div class="link-bars">
							<div class="container">
								<a href="#description" title="">Description</a>
								<a href="#meals" title="">Meals And Drinks</a>
								<a href="#hours" title="">Opening Hours</a>
								<a href="#location" title="">Location</a>
								<a href="#contact" title="">Contact</a>
								<a href="#review" title="">Review </a>
							</div>
						</div>-->
						<div class="mian-listing-detail">
							<div class="container">
								<div class="row">
									<div class="col-md-9 column">
										<div class="description-detail-box" id="description">
											<h3 class="mini-title">DESCRIPCIÓN</h3>
											<div class="detail-descriptions">
												<p>Curabitur lacinia erat quis nisi mollis, non pulvinar diam auctor. Integer ornare lobortis tristique. Vestibulum congue eleifend sapien, ac tristique nisi dapibus quis. Vivamus ligula erat, convallis nec leo vel, eleifend imperdiet lacus. Maecenas a euismod augue. Nam eu neque in velit fermentum finibus. Morbi sed lacus in odio ullamcorper facilisis. Vivamus maximus fringilla nisi, eget tristique elit mollis sit amet.</p>
												<p>Mauris in enim sit amet erat consequat vulputate. Donec ut justo nec est congue cursus sit amet aliquet lorem. In at eros id nisi sollicitudin consectetur at vel risus. Integer elit sapien, posuere nec augue non, tempus molestie est. Ut quis congue dui. Quisque finibus rhoncus nulla, nec consectetur nibh finibus sit amet. Duis eget justo venenatis nisi interdum facilisis non eget purus.</p>
												<div class="amenities-sec">
													<!--<h3>Amenities</h3>
													<span><i class="la la-check-circle"></i>Wi-Fi</span>
													<span><i class="la la-check-circle"></i>Daily Specials</span>
													<span><i class="la la-check-circle"></i>Take-out</span>
													<span><i class="la la-check-circle"></i>Free Parking</span>
													<span><i class="la la-check-circle"></i>Reservations</span>
													<span><i class="la la-check-circle"></i>Serves Alcoho</span>
													<span><i class="la la-check-circle"></i>Credit Card Payment</span>
													<span><i class="la la-check-circle"></i>Wheelchair Accessible</span>
													<span><i class="la la-check-circle"></i>Online Ordering</span>-->
												</div>
											</div>
										</div>


								
										<div class="location-box" id="location">
											<h3 class="mini-title">UBICACIÓN</h3>
											<div class="list-location">
												<a class="map-btn" href="#" title=""><i class="la la-map-marker"></i> Mapa</a>
												<a class="street-map-btn" href="#" title=""><i class="la la-street-view"></i> Street Map</a>
												<a class="direction-btn" href="#" title=""><i class="la la-mail-forward"></i> Direction</a>
												<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5925803.412513284!2d-97.57383311511944!3d37.73518855206203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1506528387794" style="border:0" allowfullscreen></iframe>
											</div>
										</div>
										<div class="contactinfo-box" id="contact">
											<h3 class="mini-title">Contacto</h3>
											<div class="contact-info-list">
												<span><strong>Dirección</strong>10 Bay Street Toronto Ontario Canada</span>
												<span><strong>Teléfono</strong>+1 (647) 347-7347</span>
												<span><strong>E-mail</strong>İnfo@firm.com</span>
												<span><strong>Sitio Web</strong>www.firm.com</span>
											</div>
										</div>
									
									
									</div>
									<aside class="col-md-3 column">
										<div class="widget">
											<h3 class="mini-title">DESCRIPCIÓN</h3>
											<div class="specifi-widget">
												<span><i class="la la-cog"></i>Facebook</span>
												<span><i class="la la-cloud"></i>Twitter</span>
												<span><i class="la la-warning"></i>Instagram</span>
												<span><i class="la la-television"></i>Youtube</span>
												<span><i class="la la-music"></i>Goggle Plus</span>
												
											</div>
										</div>
										<div class="widget">
											<h3 class="mini-title">GALERIA</h3>
											<div class="photo-widget open-image">
												<div class="row">
													<div class="col-md-6"><a href="images/preview.png" title=""><img src="http://placehold.it/100x90" alt="" /></a></div>
													<div class="col-md-6"><a href="images/preview.png" title=""><img src="http://placehold.it/100x90" alt="" /></a></div>
													<div class="col-md-6"><a href="images/preview.png" title=""><img src="http://placehold.it/100x90" alt="" /></a></div>
													<div class="col-md-6"><a href="images/preview.png" title=""><img src="http://placehold.it/100x90" alt="" /></a></div>
												</div>
												<span>All Photos (45)</span>
											</div>
										</div>
									
									</aside>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>




{% endblock %}