{% extends "base.html" %}
{% load static %}

{% block content %}


<section>
		<div class="block gray remove-top">
			<div class="row">
				<div class="col-md-12">
					<div class="list-detail-sec">
						<ul class="list-detail-carousel" id="listing-detail-carousel">
							<li>
								<div class="list-detail-box">
									<img src="{{negocio.imgPortada.url}}"	" alt="" />
									<div class="list-detail-info">
										<h3>{{negocio.nombreEmpresa}}</h3>
										<span>{{negocio.direccionEmpresa}}</span>
										<span>{{negocio.municipio}}, {{negocio.estado.estado}}, {{negocio.pais.pais}}</span>
										<p>{{negocio.numTel}}</p>
										<center>
											<a style="margin-right: 330px;" href="#" title="" class="write-review">{{negocio.porcentaje}} % en MKT</a>
										</center>
										
									</div>
								</div>
							</li>
							<li>
								<div class="list-detail-box">
									<img src="{{negocio.imgPortada.url}}" alt="" />
									<div class="list-detail-info">
										<h3>{{negocio.nombreEmpresa}}</h3>
										<span>{{negocio.direccionEmpresa}}</span>
										<span>{{negocio.municipio}}, {{negocio.estado.estado}}, {{negocio.pais.pais}}</span>
										<p>{{negocio.numTel}}</p>
										<center>
											<a href="#" title="" class="write-review">{{negocio.porcentaje}} % en MKT</a>
										</center>
										
										
									</div>
								</div>
							</li>
							<li>
								<div class="list-detail-box">
									<img src="{{negocio.imgPortada.url}}" alt="" />
									<div class="list-detail-info">
										<h3>{{negocio.nombreEmpresa}}</h3>
										<span>{{negocio.direccionEmpresa}}</span>
										<span>{{negocio.municipio}}, {{negocio.estado.estado}}, {{negocio.pais.pais}}</span>
										<p>{{negocio.numTel}}</p>
										<center>
											<a href="#" title="" class="write-review">{{negocio.porcentaje}} % en MKT</a>
										</center>
										
										
									</div>
								</div>
							</li>
						</ul>
						<!--<div class="link-bars">
							<div class="container">
								<a href="#description" title="">Description</a>
								<a href="#meals" title="">Meals And Drinks</a>
								<a href="#hours" title="">Opening Hours</a>
								<a href="#location" title="">Location</a>
								<a href="#contact" title="">Contact</a>
								<a href="#review" title="">Review </a>
							</div>
						</div>-->
						<div class="mian-listing-detail">
							<div class="container">
								<div class="row">
									<div class="col-md-9 column">
										<div class="description-detail-box" id="description">
											<h3 class="mini-title">DESCRIPCIÓN</h3>
											<div class="detail-descriptions">
												<p>{{negocio.descripcion}}</p>
												<div class="amenities-sec">
													<!--<h3>Amenities</h3>
													<span><i class="la la-check-circle"></i>Wi-Fi</span>
													<span><i class="la la-check-circle"></i>Daily Specials</span>
													<span><i class="la la-check-circle"></i>Take-out</span>
													<span><i class="la la-check-circle"></i>Free Parking</span>
													<span><i class="la la-check-circle"></i>Reservations</span>
													<span><i class="la la-check-circle"></i>Serves Alcoho</span>
													<span><i class="la la-check-circle"></i>Credit Card Payment</span>
													<span><i class="la la-check-circle"></i>Wheelchair Accessible</span>
													<span><i class="la la-check-circle"></i>Online Ordering</span>-->
												</div>
											</div>
										</div>


								
										<div class="location-box" id="location">
											<h3 class="mini-title">UBICACIÓN</h3>
											<div class="list-location">
												<a class="map-btn" href="#" title=""><i class="la la-map-marker"></i> Mapa</a>
												<a class="street-map-btn" href="#" title=""><i class="la la-street-view"></i> Street Map</a>
												<a class="direction-btn" href="#" title=""><i class="la la-mail-forward"></i> Direction</a>
												<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5925803.412513284!2d-97.57383311511944!3d37.73518855206203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1506528387794" style="border:0" allowfullscreen></iframe>
											</div>
										</div>
										<div class="contactinfo-box" id="contact">
											<h3 class="mini-title">Contacto</h3>
											<div class="contact-info-list">
												<span><strong>Dirección</strong>{{negocio.direccionEmpresa}}</span>
												<span><strong>Teléfono</strong>{{negocio.numTel}}</span>
												<span><strong>E-mail</strong>{{negocio.correo}}</span>
												<span><strong>Sitio Web</strong>{{negocio.sitioweb}}</span>
											</div>
										</div>
									
									
									</div>
									<aside class="col-md-3 column">
										<div class="widget">
											<h3 class="mini-title">REDES SOCIALES</h3>
											<div class="specifi-widget">

												<span><a target="blank" href="{{negocio.facebook}}"><i class="la la-facebook"></i></a>{{negocio.facebook}}</span>
												<span><a href="{{negocio.twitter}}"> <i class="la la-twitter"></i></a>{{negocio.twitter}}</span>
												<span><a href="{{negocio.instagram}}"><i class="la la-instagram"></i></a> {{negocio.instagram}}</span>
												<span><a href="{{negocio.youtube}}"><i class="la la-youtube"></i></a> {{negocio.youtube}}</span>
												<span><i class="la la-whatsapp"></i>{{negocio.whatsapp}}</span>
												
											</div>
										</div>
										<div class="widget">
											<h3 class="mini-title">GALERIA</h3>
											<div class="photo-widget open-image">
												<div class="row">

													{% for img in negocio.imagenes.all %}

													<div class="col-md-6">
														<a href="images/preview.png" title="">
															<img src="{{img.imagen.url}}" alt="" />
														</a>
													</div>
													{% endfor %}

													<!--<div class="col-md-6"><a href="images/preview.png" title=""><img src="http://placehold.it/100x90" alt="" /></a></div>
													<div class="col-md-6"><a href="images/preview.png" title=""><img src="http://placehold.it/100x90" alt="" /></a></div>
													<div class="col-md-6"><a href="images/preview.png" title=""><img src="http://placehold.it/100x90" alt="" /></a></div>-->
												</div>
												<span></span>
											</div>
										</div>
									
									</aside>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>




{% endblock %}