{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
		<div class="block no-padding">
			<div class="row">
				<div class="col-md-12">
					<div class="main-featured-sec no-layer">
						<ul class="featured-bg-slide">
							<li><img src="http://placehold.it/1600x950" alt="" /></li>
							<li><img src="http://placehold.it/1600x950" alt="" /></li>
							<li><img src="http://placehold.it/1600x950" alt="" /></li>
							<li><img src="http://placehold.it/1600x950" alt="" /></li>
						</ul>
						<div class="mian-featured-area">
							<div class="main-featured-text">
								<h1>Find the Best Places to Be</h1>
								<span>All the top locations – from restaurants and clubs, to cinemas, galleries, and more.</span>
							</div>
							<div class="directory-searcher style2  extra-margin">
								<form>
									<div class="field"><input type="text" placeholder="Keywords"></div>
									<div class="field">
										<select data-placeholder="All Locations" class="chosen-select" tabindex="2">
								            <option value="All Locations">All Locations</option>
								            <option value="United States">United States</option>
								            <option value="United Kingdom">United Kingdom</option>
								            <option value="Afghanistan">Afghanistan</option>
								            <option value="Aland Islands">Aland Islands</option>
								            <option value="Albania">Albania</option>
								        </select>
									</div>
									<div class="field">
										<select data-placeholder="All Categories" class="chosen-select" tabindex="2">
								            <option value="All Categories">All Categories</option>
								            <option value="Foods">Foods</option>
								            <option value="Lodging">Lodging</option>
								            <option value="Nightlife">Nightlife</option>
								            <option value="AOutdoors">Outdoors</option>
								            <option value="Restaurants">Restaurants</option>
								        </select>
									</div>
									<div class="field">
										<button type="submit"><i class="la la-search"></i>SEARCH</button>
									</div>
								</form>
							</div>
							<a class="arrow-down floating" href="#scroll-here" title=""><i class="la la-angle-down"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="scroll-here">
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>EXPLORE CITIES</h2>
							<span>Easily Found Among You Wanted More Than 7M Firms</span>
						</div>
					</div>
					<div class="do-tonight-sec">
						<div class="row">
							<div class="col-md-3">
								<div class="dt-box style2">
									<a href="#" title="">
										<img src="http://placehold.it/270x257" alt="" />
										<span>montreal</span>
										<strong>Show All Listings</strong>
									</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="dt-box style2">
									<a href="#" title="">
										<img src="http://placehold.it/570x257" alt="" />
										<span>NewYork</span>
										<strong>Show All Listings</strong>
									</a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dt-box style2">
									<a href="#" title="">
										<img src="http://placehold.it/270x257" alt="" />
										<span>Chicago</span>
										<strong>Show All Listings</strong>
									</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="dt-box style2">
									<a href="#" title="">
										<img src="http://placehold.it/570x257" alt="" />
										<span>California</span>
										<strong>Show All Listings</strong>
									</a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dt-box style2">
									<a href="#" title="">
										<img src="http://placehold.it/270x257" alt="" />
										<span>Los Angeles</span>
										<strong>Show All Listings</strong>
									</a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dt-box style2">
									<a href="#" title="">
										<img src="http://placehold.it/270x257" alt="" />
										<span>boston</span>
										<strong>Show All Listings</strong>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>Recent Places</h2>
							<span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
						</div>
						<div class="recent-place-sec" id="places-carousel">
							<div class="row">
								<div class="col-md-6">
									<div class="recent-places-box">
										<div class="recent-place-thumb">
											<a href="#" title=""><img src="http://placehold.it/245x209" alt="" /></a>
										</div>
										<div class="recent-place-detail">
											<div class="listing-box-title">
												<h3><a href="#" title="">Sunpro Technology inc</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
											<span class="price-list">$149.90</span>
											<div class="listing-rate-share">
												<div class="rated-list">
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star-o"></b>
													<b class="la la-star-o"></b>
													<span>(13)</span>
												</div>
												<span><i class="la la-share-alt"></i><strong>Share</strong></span>
												<a href="#" title=""><i class="la la-heart-o"></i></a>
											</div>
										</div>
									</div>
									<div class="recent-places-box">
										<div class="recent-place-thumb">
											<a href="#" title=""><img src="http://placehold.it/245x209" alt="" /></a>
										</div>
										<div class="recent-place-detail">
											<div class="listing-box-title">
												<h3><a href="#" title="">Sunpro Technology inc</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
											<span class="price-list">$149.90</span>
											<div class="listing-rate-share">
												<div class="rated-list">
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star-o"></b>
													<b class="la la-star-o"></b>
													<span>(13)</span>
												</div>
												<span><i class="la la-share-alt"></i><strong>Share</strong></span>
												<a href="#" title=""><i class="la la-heart-o"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="recent-places-box">
										<div class="recent-place-thumb">
											<a href="#" title=""><img src="http://placehold.it/245x209" alt="" /></a>
										</div>
										<div class="recent-place-detail">
											<div class="listing-box-title">
												<h3><a href="#" title="">Sunpro Technology inc</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
											<span class="price-list">$149.90</span>
											<div class="listing-rate-share">
												<div class="rated-list">
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star-o"></b>
													<b class="la la-star-o"></b>
													<span>(13)</span>
												</div>
												<span><i class="la la-share-alt"></i><strong>Share</strong></span>
												<a href="#" title=""><i class="la la-heart-o"></i></a>
											</div>
										</div>
									</div>
									<div class="recent-places-box">
										<div class="recent-place-thumb">
											<a href="#" title=""><img src="http://placehold.it/245x209" alt="" /></a>
										</div>
										<div class="recent-place-detail">
											<div class="listing-box-title">
												<h3><a href="#" title="">Sunpro Technology inc</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
											<span class="price-list">$149.90</span>
											<div class="listing-rate-share">
												<div class="rated-list">
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star-o"></b>
													<b class="la la-star-o"></b>
													<span>(13)</span>
												</div>
												<span><i class="la la-share-alt"></i><strong>Share</strong></span>
												<a href="#" title=""><i class="la la-heart-o"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="recent-places-box">
										<div class="recent-place-thumb">
											<a href="#" title=""><img src="http://placehold.it/245x209" alt="" /></a>
										</div>
										<div class="recent-place-detail">
											<div class="listing-box-title">
												<h3><a href="#" title="">Sunpro Technology inc</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
											<span class="price-list">$149.90</span>
											<div class="listing-rate-share">
												<div class="rated-list">
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star-o"></b>
													<b class="la la-star-o"></b>
													<span>(13)</span>
												</div>
												<span><i class="la la-share-alt"></i><strong>Share</strong></span>
												<a href="#" title=""><i class="la la-heart-o"></i></a>
											</div>
										</div>
									</div>
									<div class="recent-places-box">
										<div class="recent-place-thumb">
											<a href="#" title=""><img src="http://placehold.it/245x209" alt="" /></a>
										</div>
										<div class="recent-place-detail">
											<div class="listing-box-title">
												<h3><a href="#" title="">Sunpro Technology inc</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
											<span class="price-list">$149.90</span>
											<div class="listing-rate-share">
												<div class="rated-list">
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star-o"></b>
													<b class="la la-star-o"></b>
													<span>(13)</span>
												</div>
												<span><i class="la la-share-alt"></i><strong>Share</strong></span>
												<a href="#" title=""><i class="la la-heart-o"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="recent-places-box">
										<div class="recent-place-thumb">
											<a href="#" title=""><img src="http://placehold.it/245x209" alt="" /></a>
										</div>
										<div class="recent-place-detail">
											<div class="listing-box-title">
												<h3><a href="#" title="">Sunpro Technology inc</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
											<span class="price-list">$149.90</span>
											<div class="listing-rate-share">
												<div class="rated-list">
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star-o"></b>
													<b class="la la-star-o"></b>
													<span>(13)</span>
												</div>
												<span><i class="la la-share-alt"></i><strong>Share</strong></span>
												<a href="#" title=""><i class="la la-heart-o"></i></a>
											</div>
										</div>
									</div>
									<div class="recent-places-box">
										<div class="recent-place-thumb">
											<a href="#" title=""><img src="http://placehold.it/245x209" alt="" /></a>
										</div>
										<div class="recent-place-detail">
											<div class="listing-box-title">
												<h3><a href="#" title="">Sunpro Technology inc</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
											<span class="price-list">$149.90</span>
											<div class="listing-rate-share">
												<div class="rated-list">
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star-o"></b>
													<b class="la la-star-o"></b>
													<span>(13)</span>
												</div>
												<span><i class="la la-share-alt"></i><strong>Share</strong></span>
												<a href="#" title=""><i class="la la-heart-o"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="recent-places-box">
										<div class="recent-place-thumb">
											<a href="#" title=""><img src="http://placehold.it/245x209" alt="" /></a>
										</div>
										<div class="recent-place-detail">
											<div class="listing-box-title">
												<h3><a href="#" title="">Sunpro Technology inc</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
											<span class="price-list">$149.90</span>
											<div class="listing-rate-share">
												<div class="rated-list">
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star-o"></b>
													<b class="la la-star-o"></b>
													<span>(13)</span>
												</div>
												<span><i class="la la-share-alt"></i><strong>Share</strong></span>
												<a href="#" title=""><i class="la la-heart-o"></i></a>
											</div>
										</div>
									</div>
									<div class="recent-places-box">
										<div class="recent-place-thumb">
											<a href="#" title=""><img src="http://placehold.it/245x209" alt="" /></a>
										</div>
										<div class="recent-place-detail">
											<div class="listing-box-title">
												<h3><a href="#" title="">Sunpro Technology inc</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
											<span class="price-list">$149.90</span>
											<div class="listing-rate-share">
												<div class="rated-list">
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star-o"></b>
													<b class="la la-star-o"></b>
													<span>(13)</span>
												</div>
												<span><i class="la la-share-alt"></i><strong>Share</strong></span>
												<a href="#" title=""><i class="la la-heart-o"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="recent-places-box">
										<div class="recent-place-thumb">
											<a href="#" title=""><img src="http://placehold.it/245x209" alt="" /></a>
										</div>
										<div class="recent-place-detail">
											<div class="listing-box-title">
												<h3><a href="#" title="">Sunpro Technology inc</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
											<span class="price-list">$149.90</span>
											<div class="listing-rate-share">
												<div class="rated-list">
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star-o"></b>
													<b class="la la-star-o"></b>
													<span>(13)</span>
												</div>
												<span><i class="la la-share-alt"></i><strong>Share</strong></span>
												<a href="#" title=""><i class="la la-heart-o"></i></a>
											</div>
										</div>
									</div>
									<div class="recent-places-box">
										<div class="recent-place-thumb">
											<a href="#" title=""><img src="http://placehold.it/245x209" alt="" /></a>
										</div>
										<div class="recent-place-detail">
											<div class="listing-box-title">
												<h3><a href="#" title="">Sunpro Technology inc</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
											<span class="price-list">$149.90</span>
											<div class="listing-rate-share">
												<div class="rated-list">
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star"></b>
													<b class="la la-star-o"></b>
													<b class="la la-star-o"></b>
													<span>(13)</span>
												</div>
												<span><i class="la la-share-alt"></i><strong>Share</strong></span>
												<a href="#" title=""><i class="la la-heart-o"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>Quick and Easy Search</h2>
						</div>
					</div>
					<div class="col-md-12">
						<div class="services-sec">
							<div class="row">
								<div class="col-md-4">
									<div class="services style2">
										<i class="la la-paperclip"></i>
										<h3>Choose a Category</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="services style2">
										<i class="la la-map-marker"></i>
										<h3>Find Locations</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="services style2">
										<i class="la la-tencent-weibo"></i>
										<h3>Go Have Fun</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block light-blue">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="counter-sec">
							<div class="counter">
								<i class="la la-file"></i>
								<h3>LISTINGS</h3>
								<span>108</span>
							</div>
							<div class="counter">
								<i class="la la-user"></i>
								<h3>USERS</h3>
								<span>675</span>
							</div>
							<div class="counter">
								<i class="la la-list"></i>
								<h3>LISTING TYPES</h3>
								<span>13</span>
							</div>
							<div class="counter">
								<i class="la la-folder-o"></i>
								<h3>CATEGORIES</h3>
								<span>45</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>ArtIcles & TIps</h2>
							<span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br />doloremque laudantium, totam rem aperiam.</span>
						</div>
						<div class="blog-sec">
							<div class="row">
								<div class="col-md-4">
									<div class="blog-post style2">
										<div class="blog-post-thumb"> <a href="#" title=""><img src="http://placehold.it/328x250" alt="" /></a></div>
										<div class="blog-detail">
											<ul class="blog-metas"> 
												<li><a href="#" title="">May 22, 2016</a></li>
												<li><a href="#" title="">Traveling</a></li>
												<li><a href="#" title="">by Jessica Moor</a></li>
											</ul>
											<h3><a href="#" title="">Top 15 Romantic Date Ideas for </a></h3>
											<p>Dating is a part of the human mating process whereby two people meet socially for…</p>
											<a href="#" title="">MORE</a>
										</div>
									</div><!-- BLog Post  -->
								</div>
								<div class="col-md-4">
									<div class="blog-post style2">
										<div class="blog-post-thumb"> <a href="#" title=""><img src="http://placehold.it/328x250" alt="" /></a></div>
										<div class="blog-detail">
											<ul class="blog-metas"> 
												<li><a href="#" title="">May 22, 2016</a></li>
												<li><a href="#" title="">Traveling</a></li>
												<li><a href="#" title="">by Jessica Moor</a></li>
											</ul>
											<h3><a href="#" title="">Tips for Top Quality Pics</a></h3>
											<p>Dating is a part of the human mating process whereby two people meet socially for…</p>
											<a href="#" title="">MORE</a>
										</div>
									</div><!-- BLog Post  -->
								</div>
								<div class="col-md-4">
									<div class="blog-post style2">
										<div class="blog-post-thumb"> <a href="#" title=""><img src="http://placehold.it/328x250" alt="" /></a></div>
										<div class="blog-detail">
											<ul class="blog-metas"> 
												<li><a href="#" title="">May 22, 2016</a></li>
												<li><a href="#" title="">Traveling</a></li>
												<li><a href="#" title="">by Jessica Moor</a></li>
											</ul>
											<h3><a href="#" title="">Tips for Top Quality Pics</a></h3>
											<p>Dating is a part of the human mating process whereby two people meet socially for…</p>
											<a href="#" title="">MORE</a>
										</div>
									</div><!-- BLog Post  -->
								</div>
							</div>
							<a href="#" title="" class="view-all-blog">View Blog</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>CATEGORIES</h2>
							<span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br />doloremque laudantium, totam rem aperiam.</span>
						</div>
						<div class="categories-sec">
							<div class="row">
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-briefcase"></i></span>
											<h3><a href="#" title="">Business</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-car"></i></span>
											<h3><a href="#" title="">Cars</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-bed"></i></span>
											<h3><a href="#" title="">Hotels</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-spoon"></i></span>
											<h3><a href="#" title="">Food & Drinks</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-shopping-cart"></i></span>
											<h3><a href="#" title="">Shoppings</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-book"></i></span>
											<h3><a href="#" title="">Educations</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-briefcase"></i></span>
											<h3><a href="#" title="">Jobs</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-plane"></i></span>
											<h3><a href="#" title="">Travels</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block remove-top">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>What Our ClIents Say</h2>
							<span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br />doloremque laudantium, totam rem aperiam.</span>
						</div>
						<ul class="testimonial-sec">
							<li>
								<img src="http://placehold.it/87x87" alt="" />
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eueget ante venenatis euismod. Etiam in odio mattis, suscipit ex sit amet, toroni inoui bibenidum risus. Suspendisse tempus vulputate nisl. tiam in odio mattis, suscipit ex sit amet, toroni inoui bibenidum risus. Suspendisse tempus vulputate nisl.</p>
							</li>
							<li>
								<img src="http://placehold.it/87x87" alt="" />
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eueget ante venenatis euismod. Etiam in odio mattis, suscipit ex sit amet, toroni inoui bibenidum risus. Suspendisse tempus vulputate nisl. tiam in odio mattis, suscipit ex sit amet, toroni inoui bibenidum risus. Suspendisse tempus vulputate nisl.</p>
							</li>
							<li>
								<img src="http://placehold.it/87x87" alt="" />
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eueget ante venenatis euismod. Etiam in odio mattis, suscipit ex sit amet, toroni inoui bibenidum risus. Suspendisse tempus vulputate nisl. tiam in odio mattis, suscipit ex sit amet, toroni inoui bibenidum risus. Suspendisse tempus vulputate nisl.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section>
		<div class="block remove-top">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="client-sec">
							<div class="row">
								<div class="col-md-3 col-sm-6 col-xs-6">
									<div class="client-box">
										<a href="#" title=""><img src="http://placehold.it/232x75" alt="" /></a>
									</div><!-- Client Box -->
								</div>
								<div class="col-md-3 col-sm-6 col-xs-6">
									<div class="client-box">
										<a href="#" title=""><img src="http://placehold.it/232x75" alt="" /></a>
									</div><!-- Client Box -->
								</div>
								<div class="col-md-3 col-sm-6 col-xs-6">
									<div class="client-box">
										<a href="#" title=""><img src="http://placehold.it/232x75" alt="" /></a>
									</div><!-- Client Box -->
								</div>
								<div class="col-md-3 col-sm-6 col-xs-6">
									<div class="client-box">
										<a href="#" title=""><img src="http://placehold.it/232x75" alt="" /></a>
									</div><!-- Client Box -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block remove-top">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="subscribe-sec light-blue">
							<i class="la la-envelope-o"></i>
							<p>Subscribe and be notified about new locations</p>
							<form>
								<input type="text" placeholder="Your Mail" />
								<button type="submit"><i class="la la-angle-right"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% endblock %}