{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
		<div  class="block no-padding">
			<div class="row">
				<div class="col-md-12">


					<section id="slider" class="containerdos" style="margin-bottom: 50px;">

		<ul class="slider-wrapper">
			{% for ban in banners %}
		<li class="current-slide">
			<img   height="850" width="1600"  src="{{ ban.banner.url }}" alt="">

			<!--<div class="caption">
				<h2 class="slider-title">Diseño web</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, placeat est. Alias illo hic quo nobis, aspernatur iste ut voluptate.</p>
			</div>-->
		</li>
		{% endfor %}

		</ul>
		
		
		<!-- Controles de Navegacion -->
		<center><ul id="control-buttons" class="control-buttons"></ul></center>
	</section>




				</div>
			</div>
		</div>
</section>			


	
	

<!--

<section>
		<div style="position: static; margin-bottom: 50px;" class="block no-padding">
			<div class="row">

				<div class="col-md-12">
	<div class="sliderdos">
	<div class="containerdos">
		{% for ban in banners %}
		<img  height="550" width="1300"  src="{{ ban.banner.url }}" alt="">
		{% endfor %}

		<div class="controlsdos">
			<ul></ul>
		</div>
		
	</div>
</div>
	
</div>



			</div>
		</div>
</section>

-->

<!--
<section>
		<div style="position: static; margin-bottom: 150px;" class="block no-padding">
			<div class="row">
				<div class="col-md-12">
					<div class="main-featured-sec no-layer">
						<ul class="featured-bg-slide">
							{% for ban in banners %}
							<li><img height="600" width="1300" src="{{ ban.banner.url }}" alt="" /></li>
							{% endfor %}
						</ul>
						<div class="mian-featured-area">
							<div class="main-featured-text">
								<h1>{{ ban.titulo }}</h1>
								<span>{{ban.subtitulo}}</span>
							</div>
							<a class="arrow-down floating" href="#scroll-here" title=""><i class="la la-angle-down"></i></a>
						</div>	
					</div>
				</div>
			</div>
		</div>
</section>
-->


	<div style="margin-top: 150px;">
		<div class="heading">
			<h2>Regístrate y Aprovecha</h2>
			<span>¡Intégrate, Actualízate en Tecnologías Digitales y Gana!</span>
		</div>

	{% if user.is_authenticated %}
		<center>
			<a href="/registronegocio/"  class="button" style="margin-bottom: 50px; margin-top: 50px; vertical-align:middle; background:#d90429; color:#FFFFFF"><span style="">Registrar mi negocio </span></a>
		</center>
	
	{% else %}
		<center>
			<a href="#"  class="login-btn button" style="margin-bottom: 50px;margin-top: 50px; vertical-align:middle; background:#d90429; color:#FFFFFF"><span style="">Registrar mi negocio </span></a>
		</center>
	{% endif %}
	</div>
	


	<div class="account-popup-sec">
		<div class="acount-popup login-popup">
			<span class="close-popup"><i class="la la-close"></i></span>
			<h3>Ingresar</h3>
			<form action="/login/" method="post">
				 {% csrf_token %}
				<div class="field-form">
					<input name="usuario" class="effect-16" type="text" placeholder="">
		            <label>Usuario</label>
		            <span class="focus-border"></span>
				</div>
				<div class="field-form">
					<input name="password" class="effect-16" type="password" placeholder="">
		            <label>Contraseña</label>
		            <span class="focus-border"></span>
				</div>
				<a href="#" title="">¿No tienes una cuenta?</a>
				<a href="#" title="">¿Olvidaste tu contraseña?</a>
				<button type="submit">Ingresar</button>
				<!--<div class="extra-login">
					<span>Or</span>
					<ul>
						<center>
							<li class="connect-fb"><a href="#" title=""><i class="la la-facebook"></i>Facebook</a></li>
						</center>
						<li class="connect-twitter"><a href="#" title=""><i class="la la-twitter"></i>Twitter</a></li>
					</ul>
				</div>-->
			</form>
		</div>
		<div class="acount-popup register-popup">
			<span class="close-popup"><i class="la la-close"></i></span>
			<h3>REGISTRARSE</h3>
			<form action="/registrar/" method="post">
				 {% csrf_token %}
				<div class="field-form">
					<input name="nombre" class="effect-16" type="text" placeholder="">
		            <label>Nombres (s)</label>
		            <span class="focus-border"></span>
				</div>
				<div class="field-form">
					<input name="apellidos" class="effect-16" type="text" placeholder="">
		            <label>Apellidos (s)</label>
		            <span class="focus-border"></span>
				</div>
				<div class="field-form">
					<input name="usuario" class="effect-16" type="text" placeholder="">
		            <label>Usuario</label>
		            <span class="focus-border"></span>
				</div>
				<div class="field-form">
					<input name="correo" class="effect-16" type="email" placeholder="">
		            <label>Email</label>
		            <span class="focus-border"></span>
				</div>
				<div class="field-form">
					<input name="password" class="effect-16" type="password" placeholder="">
		            <label>Contraseña</label>
		            <span class="focus-border"></span>
				</div>
				<div class="field-form">
					<input name="password_confirmation" class="effect-16" type="password" placeholder="">
		            <label>Confirmar Contraseña</label>
		            <span class="focus-border"></span>
				</div>
				<button type="submit">REGISTRAR</button>
				<p>Al dar clic acepta los <a href="#" title="">Términos y condiciones</a> </p>
			</form>
		</div>
	</div>


<center>
			<div class="row" style="position: static; margin-bottom: 50px; margin-top: 50px;">
			  <div class="col-md-4">
			  	<img style="border-radius: 50%; max-width: 100px; max-height: 100px;" width="100" height="100" src="{%  static 'images/comglobal.jpg' %}"><br><br>
			  	<p><strong>Comunidad global</strong></p>
			  	<p>¿Quieres beneficiarte de la Mktcoin? Aprende e intégrate a nuestra Comunidad Económica Digital Global.</p>
			  </div>
			  <div class="col-md-4">
			  	<img style="border-radius: 50%; max-width: 100px; max-height: 100px;" width="100" height="100" src="{%  static 'images/pesos.jpg' %}"><br><br>
			  	<p><strong>Incrementa tus ventas</strong></p>
			  	<p>¿Quieres registrar tu negocio en nuestro directorio y promoverlo en una comunidad de cientos de miles ?</p>
			  </div>
			  <div class="col-md-4">
			  	<img style="border-radius: 50%; max-width: 100px; max-height: 100px;" width="150" height="100" src="{%  static 'images/dirnegocios.jpg' %}"><br><br>
			  	<p><strong>Directorio de negocios</strong></p>
			  	<p>¿Quieres conocer los distintos negocios, productos y servicios que aceptan Mktcoin en México y el Mundo ?</p>
			  </div>
		</div>
</center>


	<section id="scroll-here">
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>EXPLORA POR CIUDADES</h2>
							<span>Encuentra negocios en tu ciudad</span>
						</div>
					</div>
					<div class="do-tonight-sec">
						<div class="row">

							<div class="col-md-3">
								<div class="dt-box style2">
									<a   title="">

										<img src="{% static 'images/unouno.jpg' %}" alt="" />
										<form action="/negocios/municipios/" method="POST">
										{% csrf_token %}

										<span>{{resultado.0}}</span>											
									<strong> <button name="municipio" value="{{resultado.0}}" type="submit" style=" background-color: Transparent; border: none;">Ir a Directorio</button></strong>
										</form>
									</a>
								</div>
							</div>

							<div class="col-md-6">
								<div class="dt-box style2">
									<a title="">
										<img src="{% static 'images/tres.jpg' %}" alt="" />
										<form action="/negocios/municipios/" method="POST">
										{% csrf_token %}

										<span>{{resultado.1}}</span>											
									<strong> <button name="municipio" value="{{resultado.1}}" type="submit" style=" background-color: Transparent; border: none;">Ir a Directorio</button></strong>
										</form>
									</a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dt-box style2">
									<a  title="">
										<img src="{% static 'images/dos.jpg' %}" alt="" />
										<form action="/negocios/municipios/" method="POST">
										{% csrf_token %}

										<span>{{resultado.2}}</span>											
									<strong> <button name="municipio" value="{{resultado.2}}" type="submit" style=" background-color: Transparent; border: none;">Ir a Directorio</button></strong>
										</form>
									</a>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="dt-box style2">
									<a  title="">
										<img src="{% static 'images/cinco.jpg' %}" alt="" />

										<form action="/negocios/municipios/" method="POST">
										{% csrf_token %}

										<span>{{resultado.3}}</span>											
									<strong> <button name="municipio" value="{{resultado.3}}" type="submit" style=" background-color: Transparent; border: none;">Ir a Directorio</button></strong>
										</form>
									</a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dt-box style2">
									<a  title="">
										<img src="{% static 'images/cuatro.jpg' %}" alt="" />
										<form action="/negocios/municipios/" method="POST">
										{% csrf_token %}

										<span>{{resultado.4}}</span>											
									<strong> <button name="municipio" value="{{resultado.4}}" type="submit" style=" background-color: Transparent; border: none;">Ir a Directorio</button></strong>
										</form>
									</a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dt-box style2">
									<a  title="">
										<img src="{% static 'images/seis.jpg' %}" alt="" />
										<form action="/negocios/municipios/" method="POST">
										{% csrf_token %}

										<span>{{resultado.5}}</span>											
									<strong> <button name="municipio" value="{{resultado.5}}" type="submit" style=" background-color: Transparent; border: none;">Ir a Directorio</button></strong>
										</form>
									</a>
								</div>
							</div>
						</div>

						
						
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>Búsqueda Rápida y Fácil</h2>
						</div>
					</div>
					<div class="col-md-12">
						<div class="services-sec">
							<div class="row">
								<div class="col-md-4">
									<div class="services style2">
										<i class="la la-paperclip"></i>
										<h3>Elige la categoría</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="services style2">
										<i class="la la-map-marker"></i>
										<h3>Busca por ciudad o estado</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="services style2">
										<i class="la la-tencent-weibo"></i>
										<h3>¡Vamos a divertirnos!</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>CATEGORIAS</h2>
							<span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br />doloremque laudantium, totam rem aperiam.</span>
						</div>
						<div class="categories-sec">
							<div class="row">
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-briefcase"></i></span>
											<h3><a href="#" title="">Negocios</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-car"></i></span>
											<h3><a href="#" title="">Servicios</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-bed"></i></span>
											<h3><a href="#" title="">Hoteles</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-spoon"></i></span>
											<h3><a href="#" title="">Comidas y Bebidas</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-shopping-cart"></i></span>
											<h3><a href="#" title="">Tiendas</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-book"></i></span>
											<h3><a href="#" title="">Educación</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-briefcase"></i></span>
											<h3><a href="#" title="">Cafeterias</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-plane"></i></span>
											<h3><a href="#" title="">Viajes</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block remove-top">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>Testimonios</h2>
							<span>Queremos ofrecerte servicios de calidad, por eso es impotante tu testimonio. Gracias por compartir</span>
						</div>
						<ul class="testimonial-sec">

							{% for tes in testimonios %}
							<li>
								<img width="87" height="87" src="{{ tes.imagen.url }}" alt="" />
								<p>{{ tes.descripcion }}</p>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% endblock %}

