{% extends "base.html" %}
{% load static %}

{% block content %}

	<section id="map-with-listing">
		<div class="block no-padding">
			<div class="row">
				<div class="col-md-12">
					<div class="map-area">
						<div id="map-container">
						    <div id="map_div">&nbsp;</div>
						</div>
						<div class="search-form-map">
							<div class="directory-searcher">
								<form>
									<div class="field"><input type="text" placeholder="País"></div>
									<div class="field"><input type="text" placeholder="Estado"></div>
									<div class="field"><input type="text" placeholder="Palabra Clave"></div>
									<div class="field">
										<select data-placeholder="Categories" class="chosen-select" tabindex="2">
								            <option value="All Categories">Todas las Categorías</option>
								            <option value="Foods">Restaurantes</option>
								            <option value="Lodging">Cafeterías</option>
								            <option value="Nightlife">Farmacias</option>
								            <option value="AOutdoors">Servicios</option>
								            <option value="Restaurants">Consultorios</option>
								        </select>
									</div>
									<div class="field">
										<button type="submit"><i class="la la-search"></i>BUSCAR</button>
									</div>
								</form>
							</div>
						<!--	<ul class="choose-map-route pull-left">
								<li><a href="#" title="">Roadmap</a></li>
								<li><a href="#" title="">Terrain</a></li>
								<li><a href="#" title="">Satellite</a></li>
								<li><a href="#" title="">Current Position</a></li>
							</ul>-->
							<!--<ul class="zoomer-btn pull-right">
								<li><a href="#" title="">Zoom In</a></li>
								<li><a href="#" title="">Zoom Out</a></li>
							</ul>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>What Do You Want to Do Tonight?</h2>
							<span>Discover & connect with great local businesses in Toronto.</span>
						</div>
					</div>
					<div class="do-tonight-sec">
						<div class="row">
							<div class="col-md-4">
								<div class="dt-box">
									<a href="#" title="">
										<img src="http://placehold.it/361x250" alt="" />
										<span>Arts & Entertainment</span>
									</a>
								</div>
								<div class="dt-box">
									<a href="#" title="">
										<img src="http://placehold.it/361x250" alt="" />
										<span>Restaurants</span>
									</a>
								</div>
							</div>
							<div class="col-md-8">
								<div class="dt-box">
									<a href="#" title="">
										<img src="http://placehold.it/361x250" alt="" />
										<span>adventures</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

-->

	<section class="with-boxed">
		<div class="block gray">
			<div class="row">
				<div class="col-md-12">
					<div class="heading">
						<h2>Todos los negocios</h2>
						<span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span>
					</div>
					<div class="listing-carousel">
						<div class="row" id="listing-carousel">
							<div class="col-md-3">
								<div class="listing-box">
									<div class="listing-box-thumb">
										
										<img src="http://placehold.it/360x245" alt="" />
										<div class="listing-box-title">
											<h3><a href="#" title="">Mantenimiento Automotriz</a></h3>
											<span>Los Angeles /  Sillicon Valley </span>
											<span>(416) 551-0589</span>
										</div>
									</div>
									
								</div>
							</div>
							<div class="col-md-3">
								<div class="listing-box">
									<div class="listing-box-thumb">
										
										<img src="http://placehold.it/360x245" alt="" />
										<div class="listing-box-title">
											<h3><a href="#" title="">Abarrotes doña Mary</a></h3>
											<span>Los Angeles /  Sillicon Valley </span>
											<span>(416) 551-0589</span>
										</div>
									</div>
								
								</div>
							</div>
							<div class="col-md-3">
								<div class="listing-box">
									<div class="listing-box-thumb">
										
										<img src="http://placehold.it/360x245" alt="" />
										<div class="listing-box-title">
											<h3><a href="#" title="">Unidad Médica</a></h3>
											<span>Los Angeles /  Sillicon Valley </span>
											<span>(416) 551-0589</span>
										</div>
									</div>
								
								</div>
							</div>
							<div class="col-md-3">
								<div class="listing-box">
									<div class="listing-box-thumb">
										
										<img src="http://placehold.it/360x245" alt="" />
										<div class="listing-box-title">
											<h3><a href="#" title="">Mantenimiento de Cómputo </a></h3>
											<span>Los Angeles /  Sillicon Valley </span>
											<span>(416) 551-0589</span>
										</div>
									</div>
								
								</div>
							</div>
							<div class="col-md-3">
								<div class="listing-box">
									<div class="listing-box-thumb">
										
										<img src="http://placehold.it/360x245" alt="" />
										<div class="listing-box-title">
											<h3><a href="#" title="">Bienes Raíces</a></h3>
											<span>Los Angeles /  Sillicon Valley </span>
											<span>(416) 551-0589</span>
										</div>
									</div>
								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>Búsqueda Rápida y Fácil</h2>
						</div>
					</div>
					<div class="col-md-12">
						<div class="services-sec">
							<div class="row">
								<div class="col-md-4">
									<div class="services style2">
										<i class="la la-paperclip"></i>
										<h3>Eleige la categoría</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="services style2">
										<i class="la la-map-marker"></i>
										<h3>Busca por ciudad o estado</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="services style2">
										<i class="la la-tencent-weibo"></i>
										<h3>¡Vamos a divertirnos!</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block light-blue">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="counter-sec">
							<div class="counter">
								<i class="la la-file"></i>
								<h3>EMPRESAS</h3>
								<span>108</span>
							</div>
							<div class="counter">
								<i class="la la-user"></i>
								<h3>USUARIOS</h3>
								<span>675</span>
							</div>
							<div class="counter">
								<i class="la la-list"></i>
								<h3>ASOCIADOS</h3>
								<span>13</span>
							</div>
							<div class="counter">
								<i class="la la-folder-o"></i>
								<h3>CATEGORIAS</h3>
								<span>45</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--

	<section class="with-boxed extra-top">
		<div class="block gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>ArtIcles & TIps</h2>
							<span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br />doloremque laudantium, totam rem aperiam.</span>
						</div>
						<div class="blog-sec">
							<div class="row">
								<div class="col-md-4">
									<div class="blog-post style2">
										<div class="blog-post-thumb"> <a href="#" title=""><img src="http://placehold.it/328x250" alt="" /></a></div>
										<div class="blog-detail">
											<ul class="blog-metas"> 
												<li><a href="#" title="">May 22, 2016</a></li>
												<li><a href="#" title="">Traveling</a></li>
												<li><a href="#" title="">by Jessica Moor</a></li>
											</ul>
											<h3><a href="#" title="">Top 15 Romantic Date Ideas for </a></h3>
											<p>Dating is a part of the human mating process whereby two people meet socially for…</p>
											<a href="#" title="">MORE</a>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="blog-post style2">
										<div class="blog-post-thumb"> <a href="#" title=""><img src="http://placehold.it/328x250" alt="" /></a></div>
										<div class="blog-detail">
											<ul class="blog-metas"> 
												<li><a href="#" title="">May 22, 2016</a></li>
												<li><a href="#" title="">Traveling</a></li>
												<li><a href="#" title="">by Jessica Moor</a></li>
											</ul>
											<h3><a href="#" title="">Tips for Top Quality Pics</a></h3>
											<p>Dating is a part of the human mating process whereby two people meet socially for…</p>
											<a href="#" title="">MORE</a>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="blog-post style2">
										<div class="blog-post-thumb"> <a href="#" title=""><img src="http://placehold.it/328x250" alt="" /></a></div>
										<div class="blog-detail">
											<ul class="blog-metas"> 
												<li><a href="#" title="">May 22, 2016</a></li>
												<li><a href="#" title="">Traveling</a></li>
												<li><a href="#" title="">by Jessica Moor</a></li>
											</ul>
											<h3><a href="#" title="">Tips for Top Quality Pics</a></h3>
											<p>Dating is a part of the human mating process whereby two people meet socially for…</p>
											<a href="#" title="">MORE</a>
										</div>
									</div>
								</div>
							</div>
							<a href="#" title="" class="view-all-blog">View Blog</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

-->

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>CATEGORIAS</h2>
							<span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br />doloremque laudantium, totam rem aperiam.</span>
						</div>
						<div class="categories-sec">
							<div class="row">
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-briefcase"></i></span>
											<h3><a href="#" title="">Negocios</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-car"></i></span>
											<h3><a href="#" title="">Servicios</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-bed"></i></span>
											<h3><a href="#" title="">Hoteles</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-spoon"></i></span>
											<h3><a href="#" title="">Comidas y Bebidas</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-shopping-cart"></i></span>
											<h3><a href="#" title="">Tiendas</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-book"></i></span>
											<h3><a href="#" title="">Educación</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-briefcase"></i></span>
											<h3><a href="#" title="">Cafeterias</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="category-box style2">
										<div class="category-box-detail">
											<span><i class="la la-plane"></i></span>
											<h3><a href="#" title="">Viajes</a></h3>
											<p>8 listings</p>
										</div>
									</div><!-- Category Box -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!--

	<section class="with-boxed">
		<div class="block remove-top">
			<div class="row">
				<div class="col-md-12">
					<div class="subscribe-sec gray">
						<div class="container">
							<i class="la la-envelope-o"></i>
							<p>Subscribe and be notified about new locations</p>
							<form>
								<input type="text" placeholder="Your Mail" />
								<button type="submit"><i class="la la-angle-right"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
-->

	<section>
		<div class="block remove-top">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="client-sec">
							<div class="row">
								<div class="col-md-3 col-sm-6 col-xs-6">
									<div class="client-box">
										<a href="#" title=""><img src="http://placehold.it/232x75" alt="" /></a>
									</div><!-- Client Box -->
								</div>
								<div class="col-md-3 col-sm-6 col-xs-6">
									<div class="client-box">
										<a href="#" title=""><img src="http://placehold.it/232x75" alt="" /></a>
									</div><!-- Client Box -->
								</div>
								<div class="col-md-3 col-sm-6 col-xs-6">
									<div class="client-box">
										<a href="#" title=""><img src="http://placehold.it/232x75" alt="" /></a>
									</div><!-- Client Box -->
								</div>
								<div class="col-md-3 col-sm-6 col-xs-6">
									<div class="client-box">
										<a href="#" title=""><img src="http://placehold.it/232x75" alt="" /></a>
									</div><!-- Client Box -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}