{% extends "base.html" %}
{% load static %}

{% block content %}

	<section id="map-with-listing">
		<div class="block no-padding">
			<div class="row">
				<div class="col-md-12">
					<div class="map-area">
						<div id="map-container">
						    <div id="map_div">&nbsp;</div>
						</div>
						<div class="search-form-map">
							<!--<div class="directory-searcher">
								<form action="/negocios/busqueda/" method="POST">
									<div class="field"><select data-placeholder="Categories" class="chosen-select" tabindex="2">
								            <option value="Pais">País</option>
								            {% for pais in paises %}
								            <option value="{{pais.id}}">{{pais.pais}}</option>
								            {% endfor %}
								        </select></div>
									<div class="field"><select data-placeholder="Categories" class="chosen-select" tabindex="2">
								            <option value="Estado">Estado</option>
								        </select></div>
									<div class="field"><input type="text" placeholder="Nombre del negocio"></div>
									<div class="field">
										<select data-placeholder="Categories" class="chosen-select" tabindex="2">
								            <option value="Todas">Todas las Categorías</option>
								            <option value="Foods">Restaurantes</option>
								            <option value="Lodging">Cafeterías</option>
								            <option value="Nightlife">Farmacias</option>
								            <option value="AOutdoors">Servicios</option>
								            <option value="Restaurants">Consultorios</option>
								        </select>
									</div>
									<div class="field">
										<button type="submit"><i class="la la-search"></i>BUSCAR</button>
									</div>
								</form>
							</div>-->
						<!--	<ul class="choose-map-route pull-left">
								<li><a href="#" title="">Roadmap</a></li>
								<li><a href="#" title="">Terrain</a></li>
								<li><a href="#" title="">Satellite</a></li>
								<li><a href="#" title="">Current Position</a></li>
							</ul>-->
							<!--<ul class="zoomer-btn pull-right">
								<li><a href="#" title="">Zoom In</a></li>
								<li><a href="#" title="">Zoom Out</a></li>
							</ul>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>






		<section>
		<div class="block no-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="inner-header">
							<h2>Negocios Registrados</h2>
							<ul class="breadcrumbs">
								<li><a href="/" title="">Inicio</a></li>
								<li><a href="/negocios/" title="">Directoro de negocios</a></li>
								
							</ul>	
						</div>
					</div>
				</div>
			</div>
		</div>


<!--VISTAS DE VISUALIZACIÓN DE NEGOCIOS -->

<section>
		<div class="block gray ">
			<div class="container">
				<div class="row">
					<div class="col-md-12 column">
						<h3 class="mini-title">Grid Listing</h3>
						<div class="filter-bar">
							<span>11 Results Found</span>
							<div class="which-style">
								<a href="#" title="" class="grid-style active"><i class="la la-th-large"></i></a>
								<a href="#" title="" class="list-style"><i class="la la-th-list"></i></a>
							</div>
							<div class="open-filter-btns">
								<span class="close-filter"><i class="la la-close"></i> Close</span>
								<span class="open-filter"><i class="la la-filter"></i> Filter</span>
							</div>

							<div class="side-search-form with-filters">
								<form>
									<div class="row">
										<div class="col-md-4">
											<input type="text" class="input-style" placeholder="Keywords" />
										</div>
										<div class="col-md-4">
											<select data-placeholder="All Locations" class="chosen-select" tabindex="2">
									            <option value="All Locations">All Locations</option>
									            <option value="United States">United States</option>
									            <option value="United Kingdom">United Kingdom</option>
									            <option value="Afghanistan">Afghanistan</option>
									            <option value="Aland Islands">Aland Islands</option>
									            <option value="Albania">Albania</option>
									        </select>
										</div>
										<div class="col-md-4">
											<select data-placeholder="All Categories" class="chosen-select" tabindex="2">
									            <option value="All Categories">All Categories</option>
									            <option value="Restaurants">Restaurants</option>
									            <option value="Foods">Foods</option>
									            <option value="Hotels">Hotels</option>
									            <option value="Bars">Bars</option>
									            <option value="PlayLands">PlayLands</option>
									        </select>
										</div>
										<div class="col-md-4">
											<p>
												<input class="styled-checkbox" id="styled-checkbox-342" type="checkbox" value="value1">
												<label for="styled-checkbox-342">Radius: 50 km</label>
											</p>
										</div>
										<div class="col-md-8">
											<div class="selecteurprix">
												<div class="range-slider">
													<input class="input-range" type="range" value="250" min="100" max="500">
												</div>    
											</div>
										</div>
										<div class="col-md-12">
											<div class="filter-by-tags">
												<h3>Filter by tag:</h3>
												<div class="row">
													<div class="col-md-3">
														<p>
															<input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value1">
															<label for="styled-checkbox-2">Accepts Cards</label>
														</p>
														<p>
															<input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value1">
															<label for="styled-checkbox-3">Bike Parking</label>
														</p>
													</div>
													<div class="col-md-3">
														<p>
															<input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value1">
															<label for="styled-checkbox-4">Street Parking</label>
														</p>
														<p>
															<input class="styled-checkbox" id="styled-checkbox-5" type="checkbox" value="value1">
															<label for="styled-checkbox-5">Coupons</label>
														</p>
													</div>
													<div class="col-md-3">
														<p>
															<input class="styled-checkbox" id="styled-checkbox-6" type="checkbox" value="value1">
															<label for="styled-checkbox-6">Alcohol</label>
														</p>
														<p>
															<input class="styled-checkbox" id="styled-checkbox-7" type="checkbox" value="value1">
															<label for="styled-checkbox-7">Pets Friendly</label>
														</p>
													</div>
													<div class="col-md-3">
														<p>
															<input class="styled-checkbox" id="styled-checkbox-8" type="checkbox" value="value1">
															<label for="styled-checkbox-8">Reservations</label>
														</p>
														<p>
															<input class="styled-checkbox" id="styled-checkbox-9" type="checkbox" value="value1">
															<label for="styled-checkbox-9">Good for Kids</label>
														</p>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<button type="submit">Update Listings</button>
										</div>
									</div>
								</form>
							</div>


							<div class="filter-dropdowns">
								<select data-placeholder="Sort By" class="chosen-select" tabindex="2">
						            <option value="Sort By">Sort By</option>
						            <option value="Latest">Latest</option>
						            <option value="Oldest">Oldest</option>
						            <option value="Top Trending">Top Trending</option>
						            <option value="Price High">Price High</option>
						            <option value="Price Low">Price Low</option>
						        </select>
							</div>	
						</div>



						<div class="grids-listings">
							<div class="row">
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="listing-box">

										<div class="listing-box-thumb">
											<span class="price-list">$149.90</span>
											<img src="http://placehold.it/263x235" alt="" />
											<div class="listing-box-title">
												<h3><a href="/descripcionnegocio/" title="">Coffee Parade</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
										</div>

										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<b class="la la-star-o"></b>
												<span>(13)</span>
											</div>
											<span><i class="la la-share-alt"></i></span>
											<a href="#" title=""><i class="la la-heart-o"></i></a>
										</div>


									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="listing-box">
										<div class="listing-box-thumb">
											<span class="price-list">$149.90</span>
											<img src="http://placehold.it/263x235" alt="" />
											<div class="listing-box-title">
												<h3><a href="#" title="">Evin Electroni</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<b class="la la-star-o"></b>
												<span>(13)</span>
											</div>
											<span><i class="la la-share-alt"></i></span>
											<a href="#" title=""><i class="la la-heart-o"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="listing-box">
										<div class="listing-box-thumb">
											<span class="price-list">$149.90</span>
											<img src="http://placehold.it/263x235" alt="" />
											<div class="listing-box-title">
												<h3><a href="#" title="">Baloon City Excursion</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<b class="la la-star-o"></b>
												<span>(13)</span>
											</div>
											<span><i class="la la-share-alt"></i></span>
											<a href="#" title=""><i class="la la-heart-o"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="listing-box">
										<div class="listing-box-thumb">
											<span class="price-list">$149.90</span>
											<img src="http://placehold.it/263x235" alt="" />
											<div class="listing-box-title">
												<h3><a href="#" title="">Extreme Sport</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<b class="la la-star-o"></b>
												<span>(13)</span>
											</div>
											<span><i class="la la-share-alt"></i></span>
											<a href="#" title=""><i class="la la-heart-o"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="listing-box">
										<div class="listing-box-thumb">
											<span class="price-list">$149.90</span>
											<img src="http://placehold.it/263x235" alt="" />
											<div class="listing-box-title">
												<h3><a href="#" title="">Food Seminar</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<b class="la la-star-o"></b>
												<span>(13)</span>
											</div>
											<span><i class="la la-share-alt"></i></span>
											<a href="#" title=""><i class="la la-heart-o"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="listing-box">
										<div class="listing-box-thumb">
											<span class="price-list">$149.90</span>
											<img src="http://placehold.it/263x235" alt="" />
											<div class="listing-box-title">
												<h3><a href="#" title="">Evin Electroni</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<b class="la la-star-o"></b>
												<span>(13)</span>
											</div>
											<span><i class="la la-share-alt"></i></span>
											<a href="#" title=""><i class="la la-heart-o"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="listing-box">
										<div class="listing-box-thumb">
											<span class="price-list">$149.90</span>
											<img src="http://placehold.it/263x235" alt="" />
											<div class="listing-box-title">
												<h3><a href="#" title="">Baloon City Excursion</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<b class="la la-star-o"></b>
												<span>(13)</span>
											</div>
											<span><i class="la la-share-alt"></i></span>
											<a href="#" title=""><i class="la la-heart-o"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="listing-box">
										<div class="listing-box-thumb">
											<span class="price-list">$149.90</span>
											<img src="http://placehold.it/263x235" alt="" />
											<div class="listing-box-title">
												<h3><a href="#" title="">Extreme Sport</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<b class="la la-star-o"></b>
												<span>(13)</span>
											</div>
											<span><i class="la la-share-alt"></i></span>
											<a href="#" title=""><i class="la la-heart-o"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="listing-box">
										<div class="listing-box-thumb">
											<span class="price-list">$149.90</span>
											<img src="http://placehold.it/263x235" alt="" />
											<div class="listing-box-title">
												<h3><a href="#" title="">Gitar Course</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<b class="la la-star-o"></b>
												<span>(13)</span>
											</div>
											<span><i class="la la-share-alt"></i></span>
											<a href="#" title=""><i class="la la-heart-o"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="listing-box">
										<div class="listing-box-thumb">
											<span class="price-list">$149.90</span>
											<img src="http://placehold.it/263x235" alt="" />
											<div class="listing-box-title">
												<h3><a href="#" title="">Food Seminar</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<b class="la la-star-o"></b>
												<span>(13)</span>
											</div>
											<span><i class="la la-share-alt"></i></span>
											<a href="#" title=""><i class="la la-heart-o"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="listing-box">
										<div class="listing-box-thumb">
											<span class="price-list">$149.90</span>
											<img src="http://placehold.it/263x235" alt="" />
											<div class="listing-box-title">
												<h3><a href="#" title="">Evin Electroni</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<b class="la la-star-o"></b>
												<span>(13)</span>
											</div>
											<span><i class="la la-share-alt"></i></span>
											<a href="#" title=""><i class="la la-heart-o"></i></a>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="listing-box">
										<div class="listing-box-thumb">
											<span class="price-list">$149.90</span>
											<img src="http://placehold.it/263x235" alt="" />
											<div class="listing-box-title">
												<h3><a href="#" title="">Baloon City Excursion</a></h3>
												<span>Los Angeles /  Sillicon Valley </span>
												<span>(416) 551-0589</span>
											</div>
										</div>
										<div class="listing-rate-share">
											<div class="rated-list">
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star"></b>
												<b class="la la-star-o"></b>
												<b class="la la-star-o"></b>
												<span>(13)</span>
											</div>
											<span><i class="la la-share-alt"></i></span>
											<a href="#" title=""><i class="la la-heart-o"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="pagination">
							<ul>
								<li class="prev"><a href=""><i class="la  la-arrow-left"></i></a></li>
								<li><a href="">1</a></li>
								<li><a class="active" href="">2</a></li>
								<li><a href="">3</a></li>
								<li><span class="delimeter">...</span></li>
								<li><a href="">22</a></li>
								<li class="next"><a href=""><i class="la  la-arrow-right"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<!-- TERMINA VISTAS DE VISUALIZACIÓN DE NEGOCIOS -->























	<!--

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>What Do You Want to Do Tonight?</h2>
							<span>Discover & connect with great local businesses in Toronto.</span>
						</div>
					</div>
					<div class="do-tonight-sec">
						<div class="row">
							<div class="col-md-4">
								<div class="dt-box">
									<a href="#" title="">
										<img src="http://placehold.it/361x250" alt="" />
										<span>Arts & Entertainment</span>
									</a>
								</div>
								<div class="dt-box">
									<a href="#" title="">
										<img src="http://placehold.it/361x250" alt="" />
										<span>Restaurants</span>
									</a>
								</div>
							</div>
							<div class="col-md-8">
								<div class="dt-box">
									<a href="#" title="">
										<img src="http://placehold.it/361x250" alt="" />
										<span>adventures</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

-->
<!--
<section>
		<div class="block gray ">
			<div class="container">
				<div class="row">
					<div class="col-md-12 column">
						<h3 class="mini-title">Lista de negocios</h3>
						<div class="">
							<div class="directory-searcher" style="margin:0; left:0; width:100%; margin-bottom: 50px;">
								<form action="/negocios/busqueda/" method="POST">
									<div class="field"><select data-placeholder="Categories" class="chosen-select" tabindex="2">
								            <option value="Pais">País</option>
								            {% for pais in paises %}
								            <option value="{{pais.id}}">{{pais.pais}}</option>
								            {% endfor %}
								        </select></div>
									<div class="field"><select data-placeholder="Categories" class="chosen-select" tabindex="2">
								            <option value="Estado">Estado</option>
								        </select></div>
									<div class="field"><input type="text" placeholder="Nombre del negocio"></div>
									<div class="field">
										<select data-placeholder="Categories" class="chosen-select" tabindex="2">
								            <option value="Todas">Todas las Categorías</option>
								            <option value="Foods">Restaurantes</option>
								            <option value="Lodging">Cafeterías</option>
								            <option value="Nightlife">Farmacias</option>
								            <option value="AOutdoors">Servicios</option>
								            <option value="Restaurants">Consultorios</option>
								        </select>
									</div>
									<div class="field">
										<button type="submit"><i class="la la-search"></i>BUSCAR</button>
									</div>
								</form>
							</div><br>-->
						<!--	<ul class="choose-map-route pull-left">
								<li><a href="#" title="">Roadmap</a></li>
								<li><a href="#" title="">Terrain</a></li>
								<li><a href="#" title="">Satellite</a></li>
								<li><a href="#" title="">Current Position</a></li>
							</ul>-->
							<!--<ul class="zoomer-btn pull-right">
								<li><a href="#" title="">Zoom In</a></li>
								<li><a href="#" title="">Zoom Out</a></li>
							</ul>-->
							<!--
						</div>
						<div class="grids-listings">
							<div class="row">
								{% for negocio in negocios %}
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="listing-box">
										<div class="listing-box-thumb">
											<img src="{{negocio.imagenes.first.imagen.url}}" alt="" />
											<div class="listing-box-title">
												<h3><a href="#" title="">{{negocio.nombreEmpresa}}</a></h3>
												<span>{{negocio.direccionEmpresa}} </span>
												<span>{{negocio.numTel}}</span>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>


-->
<!--

	<section>
		<div class="block light-blue">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="counter-sec">
							<div class="counter">
								<i class="la la-file"></i>
								<h3>EMPRESAS</h3>
								<span>108</span>
							</div>
							<div class="counter">
								<i class="la la-user"></i>
								<h3>USUARIOS</h3>
								<span>675</span>
							</div>
							<div class="counter">
								<i class="la la-list"></i>
								<h3>ASOCIADOS</h3>
								<span>13</span>
							</div>
							<div class="counter">
								<i class="la la-folder-o"></i>
								<h3>CATEGORIAS</h3>
								<span>45</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>-->


	<!--

	<section class="with-boxed extra-top">
		<div class="block gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<h2>ArtIcles & TIps</h2>
							<span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br />doloremque laudantium, totam rem aperiam.</span>
						</div>
						<div class="blog-sec">
							<div class="row">
								<div class="col-md-4">
									<div class="blog-post style2">
										<div class="blog-post-thumb"> <a href="#" title=""><img src="http://placehold.it/328x250" alt="" /></a></div>
										<div class="blog-detail">
											<ul class="blog-metas"> 
												<li><a href="#" title="">May 22, 2016</a></li>
												<li><a href="#" title="">Traveling</a></li>
												<li><a href="#" title="">by Jessica Moor</a></li>
											</ul>
											<h3><a href="#" title="">Top 15 Romantic Date Ideas for </a></h3>
											<p>Dating is a part of the human mating process whereby two people meet socially for…</p>
											<a href="#" title="">MORE</a>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="blog-post style2">
										<div class="blog-post-thumb"> <a href="#" title=""><img src="http://placehold.it/328x250" alt="" /></a></div>
										<div class="blog-detail">
											<ul class="blog-metas"> 
												<li><a href="#" title="">May 22, 2016</a></li>
												<li><a href="#" title="">Traveling</a></li>
												<li><a href="#" title="">by Jessica Moor</a></li>
											</ul>
											<h3><a href="#" title="">Tips for Top Quality Pics</a></h3>
											<p>Dating is a part of the human mating process whereby two people meet socially for…</p>
											<a href="#" title="">MORE</a>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="blog-post style2">
										<div class="blog-post-thumb"> <a href="#" title=""><img src="http://placehold.it/328x250" alt="" /></a></div>
										<div class="blog-detail">
											<ul class="blog-metas"> 
												<li><a href="#" title="">May 22, 2016</a></li>
												<li><a href="#" title="">Traveling</a></li>
												<li><a href="#" title="">by Jessica Moor</a></li>
											</ul>
											<h3><a href="#" title="">Tips for Top Quality Pics</a></h3>
											<p>Dating is a part of the human mating process whereby two people meet socially for…</p>
											<a href="#" title="">MORE</a>
										</div>
									</div>
								</div>
							</div>
							<a href="#" title="" class="view-all-blog">View Blog</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

-->

	
<!--

	<section class="with-boxed">
		<div class="block remove-top">
			<div class="row">
				<div class="col-md-12">
					<div class="subscribe-sec gray">
						<div class="container">
							<i class="la la-envelope-o"></i>
							<p>Subscribe and be notified about new locations</p>
							<form>
								<input type="text" placeholder="Your Mail" />
								<button type="submit"><i class="la la-angle-right"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
-->

	

{% endblock %}

{% block script %}

<script type="text/javascript">
	
	$(document).on('ready', function(){


	//------- Google Maps ---------//
		  
	// Creating a LatLng object containing the coordinate for the center of the map
	var latlng = new google.maps.LatLng(16.731563,-93.0387017);
	  
	// Creating an object literal containing the properties we want to pass to the map  
	var options = {  
		zoom: 15, // This number can be set to define the initial zoom level of the map
		center: latlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP // This value can be set to define the map type ROADMAP/SATELLITE/HYBRID/TERRAIN
	};  
	// Calling the constructor, thereby initializing the map  
	var map = new google.maps.Map(document.getElementById('map_div'), options);  
	
	// Define Marker properties
	var image = new google.maps.MarkerImage("{% static 'images/marker1.png' %}",
		new google.maps.Size(46, 57),
		new google.maps.Point(0,0),
		new google.maps.Point(18, 42)
	);

	// Define Marker properties
	var image2 = new google.maps.MarkerImage("{% static 'images/marker2.png' %}",
		new google.maps.Size(46, 57),
		new google.maps.Point(0,0),
		new google.maps.Point(0, 42)
	);

	// Define Marker properties
	var image3 = new google.maps.MarkerImage("{% static 'images/marker3.png' %}",
		new google.maps.Size(46, 57),
		new google.maps.Point(0,0),
		new google.maps.Point(0, 42)
	);

	// Define Marker properties
	var image4 = new google.maps.MarkerImage("{% static 'images/marker4.png' %}",
		new google.maps.Size(46, 57),
		new google.maps.Point(0,0),
		new google.maps.Point(0, 42)
	);

	{% for negocio in negocios %}
	// Add Marker
	// alert(parseFloat("{{negocio.ubicacion.latitud}}"))
	var marker{{negocio.id}} = new google.maps.Marker({
		position: new google.maps.LatLng(parseFloat("{{negocio.ubicacion.latitud}}"), parseFloat("{{negocio.ubicacion.longitud}}")), 
		map: map,		
		icon: image // This path is the custom pin to be shown. Remove this line and the proceeding comma to use default pin
	});	
	
	// Add listener for a click on the pin
	google.maps.event.addListener(marker{{negocio.id}}, 'click', function() {  
		infowindow{{negocio.id}}.open(map, marker{{negocio.id}});  
		$('body .infowindow').parent().parent().parent().parent().parent().parent().addClass('custom-tooltip')
	});

	// Add information window
	var infowindow{{negocio.id}} = new google.maps.InfoWindow({  
		content:  createInfo('<div class="listing-box"> <div class="listing-box-thumb"> <img src="{{negocio.imagenes.first.imagen.url}}" alt="" /> <div class="listing-box-title"> <h3><a href="/negocios/{{negocio.id}}/" title="">{{negocio.nombreEmpresa}}</a></h3> <span>{{negocio.direccionEmpresa}}</span> <span>{{negocio.numTel}}</span> </div> </div> <div class="listing-rate-share">  </div> </div>')
	}); 

	{% endfor %}
		
	

	
	
	// Create information window
	function createInfo(title, content) {
		return '<div class="infowindow"><span>'+ title +'</span>'+content+'</div>';
	} 

});

</script>

{% endblock %}