{% extends "base.html" %}
{% load static %}

{% block content %}




<section>
		<div class="block no-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="inner-header">
							<h2>Agrega tu negocio</h2>
							<ul class="breadcrumbs">
								<li><a href="/" title="">Inicio</a></li>
								<li><a href="/negocios/" title="">Directorio de negocios</a></li>
								<li>Agrega tu negocio</li>
							</ul>	
						</div>
					</div>
				</div>
			</div>



<center>
			<div class="row" style="margin-bottom: 50px; margin-top: 50px;">
			  <div class="col-md-4">
			  	<img style="border-radius: 50%; max-width: 100px; max-height: 100px;" width="100" height="100" src="{%  static 'images/comglobal.jpg' %}"><br><br>
			  	<p><strong>Comunidad global</strong></p>
			  	<p>¿Quieres beneficiarte de la Mktcoin? Aprende e intégrate a nuestra Comunidad Económica Digital Global.</p>
			  </div>
			  <div class="col-md-4">
			  	<img style="border-radius: 50%; max-width: 100px; max-height: 100px;" width="100" height="100" src="{%  static 'images/pesos.jpg' %}"><br><br>
			  	<p><strong>Incrementa tus ventas</strong></p>
			  	<p>¿Quieres registrar tu negocio en nuestro directorio y promoverlo en una comunidad de cientos de miles ?</p>
			  </div>
			  <div class="col-md-4">
			  	<img style="border-radius: 50%; max-width: 100px; max-height: 100px;" width="150" height="100" src="{%  static 'images/dirnegocios.jpg' %}"><br><br>
			  	<p><strong>Directorio de negocios</strong></p>
			  	<p>¿Quieres conocer los distintos negocios, productos y servicios que aceptan Mktcoin en México y el Mundo ?</p>
			  </div>
		</div>
</center>






	<section>
		<div class="block gray ">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="add-listing-sec">


							<form action="/altanegocio/" method="POST">
								{% csrf_token %}
								<div class="form-listing">
									<div class="row">
										<div class="col-md-12">
											<center>
												<h2 style="color:red; font-family: Arial; text-shadow: 1px 1px; margin-bottom: 50px;">A continuación inserta tus datos para tu registro</h2>
											</center>
										</div>


										<div class="col-md-12">
											<h3>Datos personales</h3>
										</div>


										<div class="col-md-6">
											<label class="labform">Nombre completo del titular</label>
											<input name="nombreTitular" type="text" placeholder="Nombre Completo" />
										</div>

										<div class="col-md-6">
											<label class="labform">Fecha de Nacimiento</label>
											<input name="fechaNacimiento" type="date" placeholder="Twitter" />
										</div>

										<div class="col-md-6">
											<label class="labform">Número de teléfono</label>
											<input name="numeroTelefonotitular" type="text" placeholder="Número de teléfono" />
										</div>

										<div class="col-md-6">
											<label class="labform">Dirección</label>
											<input name="direccionTitular" type="text" placeholder="Twitter" />
										</div>
										<div class="col-md-6">
											<label class="labform">Correo electrónico</label>
											<input name="correo" type="email" placeholder="Correo electrónico" />
										</div>

										<div class="col-md-12">
											<h3>Datos sobre MKTCoin</h3>
										</div>

										<div class="col-md-6">
											<label class="labform">¿Quién lo invitó a unirse?</label>
											<input name="quieninvito" type="text" placeholder="¿Quién lo invitó a uniser?" />
										</div>
										<div class="col-md-6">
											<label class="labform">Login de MKTCoin</label>
											<input name="loginmkt" type="text" placeholder="Login de MKTCoin" />
										</div>

										<div class="col-md-6">
											<label class="labform">¿Qué porcentaje aceptará de MKTCoin?</label>
											<input name="porcentaje" type="number" placeholder="¿Qué porcentaje aceptará de mktcoin?" />
										</div>



										<div class="col-md-12">
											<h3>Datos de la empresa</h3>
										</div>


										<div class="col-md-8">
											<label class="labform">Nombre del negocio y/o servicio</label>
											<input name="nombreEmpresa" type="text" placeholder="Nombre del negocio y/o servicio" />
										</div>

										<div class="col-md-4">
											<label class="labform">Categoria</label>
											<select name="categoria" data-placeholder="Todas las categorías" class="chosen-select" tabindex="2">
												{% for c in categorias %}
									            <option value="{{c.id}}">{{c.nombre}}</option>
												{% endfor %}
									            
									        </select>
										</div>

										<div class="col-md-12">
											<label class="labform">Descripción del negocio y/o servicio</label>
											<textarea name="descripcion" placeholder="Descripción del negocio y/o servicio"></textarea>
										</div>

										<!--

										<div class="col-md-4">
											<label class="labform">Latitud</label>
											<input type="text" placeholder="Latitud" />
										</div>

										<div class="col-md-4">
											<label class="labform">Longitud</label>
											<input type="text" placeholder="Longitud" />
										</div>
									-->

										<div class="col-md-4">
											<label class="labform">País</label>
											<select name="pais" data-placeholder="País" class="chosen-select" tabindex="2">

												{% for p in paises %}
									            <option value="{{p.id}}">{{p.pais}}</option>
									            {% endfor %}
									           
									        </select>
										</div>

										



										<div class="col-md-4">
											<label class="labform">Estado</label>

											
											<input name="estado" type="text" placeholder="Estado" />
										
											<!--<select data-placeholder="Estado" class="chosen-select" tabindex="2">
									            <option value="All Categories">All Categories</option>
									            <option value="Foods">Foods</option>
									            <option value="Salads">Salaads</option>
									            <option value="Kingston">Kingston</option>
									            <option value="Signing">Signing</option>
									        </select>-->
										</div>
										<div class="col-md-4">
											<label class="labform">Municipio o Ciudad </label>
											
											<input name="municipio" type="text" placeholder="Municipio o Ciudad" />
										

											<!--<select data-placeholder="Municipio o ciudad" class="chosen-select" tabindex="2">
									            <option value="All Categories">All Categories</option>
									            <option value="Foods">Foods</option>
									            <option value="Salads">Salaads</option>
									            <option value="Kingston">Kingston</option>
									            <option value="Signing">Signing</option>
									        </select>-->
										</div>



										<div class="col-md-12">
											<label class="labform">Dirección</label>
											<input name="direccionEmpresa" type="text" placeholder="Dirección" />
										</div>
										<div class="col-md-12">
											<label class="labform">Coloca tu ubicación en el mapa</label>
											<div class="add-listing-map">
												<div id="map-container">
												    <div id="map_div">&nbsp;</div>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<label class="labform">Latitud</label>
											<input name="direccionEmpresa" type="text" placeholder="Dirección" />
										</div>
										<div class="col-md-6">
											<label class="labform">Longitud</label>
											<input name="direccionEmpresa" type="text" placeholder="Dirección" />
										</div>
										

										<div class="col-md-6">
											<label class="labform">Contácto del negocio</label>
											<input name="numTel" type="text" placeholder="Contácto del negocio" />
										</div>

										<div class="col-md-12">
											<h3>Redes sociales del negocio</h3>
										</div>

										<div class="col-md-6">
											<label class="labform">Facebook</label>
											<input name="facebook" type="text" placeholder="Facebook" />
										</div>

										<div class="col-md-6">
											<label class="labform">Instagram</label>
											<input name="instagram" type="text" placeholder="Instagram" />
										</div>

										<div class="col-md-6">
											<label class="labform">Youtube</label>
											<input name="youtube" type="text" placeholder="Youtube" />
										</div>
										<div class="col-md-6">
											<label class="labform">Twitter</label>
											<input name="twitter" type="text" placeholder="Twitter" />
										</div>

										<div class="col-md-6">
											<label class="labform">WhatsApp</label>
											<input name="whatsapp" type="text" placeholder="WhatsApp"/>
										</div>
										<div class="col-md-6">
											<label class="labform">Sitio Web</label>
											<input name="sitioweb" type="text" placeholder="Sitio Web"/>
										</div>

										<div class="col-md-12">
											<label class="labform">Comentarios</label>
											<textarea name="comentarios" placeholder="Comentarios"></textarea>
										</div>

						<div class="col-md-6 col-sm-6 col-xs-12  has-feedback">
                              <label for="heard">Añadir fotos del negocio:</label><br>
                              <a class="be-ava-user style-2" href="" id="list">
                                <img id="list" src="{{ persona.Foto_de_Perfil.url }}" alt="">
                              </a>
                              <a class="btn color-4 size-2 hover-7">

                                <span class="btn btn-default btn-file" >Agregar imagenes<input multiple type="file" id="files" name="imagen" defaultValue="" accept="image/jpeg, image/png"/></span></a>
                        </div>


						<div class="col-md-6 col-sm-6 col-xs-12  has-feedback">
                              <label for="heard">Añadir foto de portada de negocio:</label><br>
                              <a class="be-ava-user style-2" href="" id="list">
                                <img id="list" src="{{ persona.Foto_de_Perfil.url }}" alt="">
                              </a>
                              <a class="btn color-4 size-2 hover-7">

                                <span class="btn btn-default btn-file" >Agregar imagenes<input multiple type="file" id="files" name="imagen" defaultValue="" accept="image/jpeg, image/png"/></span></a>
                        </div>




										<div class="submission-btns">
											<button type="submit">Enviar</button>
										</div>

										<!-- TERMINA MI FORMULARIO-->
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		</div>
	</section>


{% endblock %}